form, ul {
  padding: 5px;
  width: 630px;
  margin: 0 auto;
}

form select,
form input[type=text] {
  width: 630px;
  margin-bottom: 6px;
  display: block;
}

form input[type=text] {
  width: 624px; /* 630px - 6px (border) */
}

form label {
  display: block;
}

#flash-recorder {
  margin-bottom: 6px;
}

#outbox-flash-player,
#outbox-flash-player-label,
#inbox-flash-player,
#inbox-flash-player-label {
  margin: 5px 0;
}

h3 {
  font-weight: bold;
  font-size: 12px;
}

h3 span {
  font-weight: normal;
  vertical-align: middle;
}

ul li {
  color: #666;
  border-bottom: 1px solid #D8D8D8;
  margin: 0 0 2px;
  overflow: hidden;
  padding: 0 5px 2px 8px;
  font-size: 11px;
}

ul li:last-child {
  border-bottom: 0 none;
}

ul li a {
  color: #000;
  font-size: 12px;
  display: block;
}

ul li a.unread {
  font-weight: bold;
}

#outbox-message-player,
#inbox-message-player {
  margin: 0 auto;
  width: 640px;
}

.hint {
  font-size: 12px;
  margin: 5px 0;
  text-align: center;
  font-style: italic;
}
