/*
 * YUI Reset start
 * Taken from:
 * http://developer.yahoo.com/yui/reset/
 */
body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea,
p, blockquote, th, td { 
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img { 
  border: 0;
}
address, caption, cite, code, dfn,
em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}
ol, ul {
  list-style: none;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
}
/* YUI Reset end */


body {
  /* Default XING font */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 140%;
}

label {
  font-weight: bold;
}

.mini-message {
  margin: 6px 0;
}

.mini-message td {
  font-size: 11px;
  padding: 2px;
}

.error-message {
  background-color: #FF0000;
  color: #fff;
}

.back-link-container {
  float: left;
}

.back-link {
  color: #333;
}

.reply-link-container {
  float: right;
}

.reply-link {
  color: #333;
}