form, ul {
  padding: 5px;
  width: 303px;
  margin: 0 auto;
}

form select,
form input[type=text] {
  width: 303px;
  margin-bottom: 6px;
  display: block;
}

form input[type=text] {
  width: 297px; /* 303px - 6px (border) */
}

form label {
  display: block;
}

#flash-recorder {
  margin-bottom: 6px;
}

#flash-player {
  margin: 0 auto;
  width: 305px;
}

ul li {
  color: #666;
  border-bottom: 1px solid #D8D8D8;
  height: 40px;
  margin: 0 0 2px;
  overflow: hidden;
  padding: 0 5px 2px 8px;
  font-size: 11px;
}

ul li:last-child {
  border-bottom: 0 none;
}

ul li a {
  color: #000;
  font-size: 12px;
  display: block;
}

ul li a.unread {
  font-weight: bold;
}
